{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    {% if result %}
        <p>A share of {{ result.name }} ({{ result.symbol }}) costs {{ result.price |usd }}</p>
    {% else %}
        <form action="/quote" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text" required>
            </div>
            <button class="btn btn-primary" type="submit">Quote</button>
        </form>
    {% endif %}
{% endblock %}
